body{
	width: 100%;
	height: auto;
	min-height: 100vh;	
	margin: 0;
	padding: 0;
}
body *{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	font-family: sans-serif;
}

.banner{
	width: 100%;
	padding: 12px 0;
	color: white;
	text-align: center;
	background-color: #5743F8;
}

.flexrow{
	width: 100%;
	display: flex;
	justify-content: space-around;
	gap: 30px;
}
.itemContainer{
	box-sizing: border-box;
	width: 40%;
	max-width: 400px;
	height: auto;
	min-height: 250px;
	padding: 10px;
	border: 2px solid #a7a7a7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
}
.itemContainer img{
	width: 70%;
	border-radius: 5px;
}

.messages{
	width: 60%;
	height: 50px;
	border-radius: 5px;
}
.messages div{
	width: 100%;
	color: white;
	display: none;
}
.messages div p{
	font-size: 20px;
	letter-spacing: 2px;
	width: 100%;
	padding: 8px 14px;
	text-align: center;
}

.successDrag{
	background-color: rgba(50,250,90,0.7);
}

.successReset{
	background-color: rgba(90,100,250,0.7);
}

.errorDrop{
	background-color: rgba(250,100,90,0.7);
}

.resetButton{
	width: fit-content;
	height: fit-content;
	margin: 32px auto;
	padding: 12px 18px;
	color: white;
	background-color: rgba(50,50,255,0.8);
	font-size: 20px;
	border-radius: 10px;
}
.resetButton:hover{
	transform: scale(0.95);
	background-color: rgba(50,50,255,0.7);
}
.resetButton:active{
	transform: scale(0.9);
}

@media screen and (max-width: 800px){
	.flexrow{
		flex-direction: column;
		align-items: center;
	}
	.itemContainer{
		width: 90%;
	}
}




